<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .validationError {
            color: red;
        }
    </style>
</head>
<body>

<div class="container center-pill">
    <h3>Edit of Book</h3>
</div>

<div class="container center-pill">
<form action="#" th:action="@{'/' + ${book.id}}" th:object="${book}" method="post">
    <p>Author: <input type="text" th:field="*{author}"></p>
    <span class="validationError"
          th:if="${#fields.hasErrors('author')}"
          th:errors="*{author}"></span>
    <p>Name: <input type="text" th:field="*{name}"></p>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span>
    <p>
        <input type="submit" value="Edit book" class="btn btn-primary green"/>
    </p>
</form>
</div>

</body>
</html>