<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

<div class="container center-pill">
    <h3>List of Books</h3>
</div>

<table class="container center-pill">
    <thread>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.name}"/>
        <td th:text="${book.author}"/>
        <td><a href="" th:href="@{'/' + ${book.id} + '/show'}">SHOW</a></td>
        <td><a href="" th:href="@{'/' + ${book.id} + '/edit'}">EDIT</a></td>
        <td><a href="" th:href="@{'/' + ${book.id} + '/delete'}">DELETE</a></td>
    </tr>
    </tbody>
</table>

<div class="container center-pill">
    <form action="#" th:action="@{/}" th:object="${newBook}" method="post">
        <p>Author: <input type="text" th:field="*{author}"></p>
        <p>Name: <input type="text" th:field="*{name}"></p>
        <p>
            <input type="submit" value="Create new Book" class="btn btn-primary green"/>
            <input type="reset" value="Reset" class="btn btn-primary red"/>
        </p>
    </form>
</div>

<div class="container center-pill">
    <a class="waves-effect waves-light btn" href="searchPage.html">Find Books</a>
</div>

</body>
</html>