<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .validationError {
            color: red;
        }
    </style>
</head>
<body>

<p th:text="${user}"></p>

<form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>

<a th:href="@{/login}">Login page</a><br>
<a th:href="@{/registration}">Registration page</a><br>
<a th:href="@{/foruser}">foruser page</a><br>
<a th:href="@{/foradmin}">foradmin page</a><br>


<div class="container center-pill">
    <h3>List of Books</h3>
</div>

<table class="container center-pill">
    <thread>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.name}"/>
        <td th:text="${book.author}"/>
        <td><a href="" th:href="@{'/' + ${book.id} + '/show'}">SHOW</a></td>
        <td><a href="" th:href="@{'/' + ${book.id} + '/edit'}">EDIT</a></td>
        <td><a href="" th:href="@{'/' + ${book.id} + '/delete'}">DELETE</a></td>
    </tr>
    </tbody>
</table>

<div class="container center-pill">
    <form action="#" th:action="@{/}" th:object="${newBook}" method="post">
        <p>Author: <input type="text" th:field="*{author}"></p>
        <span class="validationError"
              th:if="${#fields.hasErrors('author')}"
              th:errors="*{author}"></span>
        <p>Name: <input type="text" th:field="*{name}"></p>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span>
        <p>
            <button type="submit" name="action" value="save" class="btn btn-primary green">Save new book</button>
            <button type="submit" name="action" value="find" class="btn btn-primary green">Find books</button>
        </p>
    </form>
</div>


</body>
</html>