<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

<!--<div class="container center-pill">-->
    <!--<p th:text="${user}"></p>-->

    <!--<form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">-->
        <!--<input type="submit" value="logout">-->
    <!--</form>-->
<!--</div>-->

<div class="container center-pill">
    <h3>List of Books</h3>
</div>

<table class="container center-pill">
    <thread>
        <tr>
            <th>Name</th>
            <th>Author</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.name}"/>
        <td th:text="${book.author}"/>
    </tr>
    </tbody>
</table>

</body>
</html>